body {
  font-family: 'Roboto', sans-serif;
}

.rounded-strong {
  border-radius: 3rem;
}

.interlineado-compacto {
  line-height: 1.2;
}

.foto-circular {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.foto-miniatura {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.icono {
  color: #a0a0a0;
  transition: color 0.3s ease;
  cursor: pointer;
}

/* Clase que se aplicará con React cuando el ícono esté "clicado" */
.icono-activo {
  color: #ff0000;
}
.sidebar-custom-color {
  background-color: #f8d7da; 
}


